USE [master]
GO
/****** Object:  Database [PDFapp]    Script Date: 4/27/2021 12:55:59 AM ******/
CREATE DATABASE [PDFapp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PDFapp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PDFapp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PDFapp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\PDFapp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PDFapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PDFapp]
GO
/****** Object:  Table [dbo].[PDForder]    Script Date: 4/27/2021 12:55:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PDForder](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](50) NULL,
	[FileContent] [varbinary](max) NOT NULL,
	[Date] [datetime] NOT NULL,
 CONSTRAINT [PK_PDForder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
